@import '~antd/dist/antd.css';

.App {
  text-align: center;
}

.danger {
  color: red;
}

.hide {
  display: none;
}

.gray {
  color: gray;
}

.success {
  color: green;
}

body {
  background: #f0f2f5;
}

.BinaryToDecimal {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100vh;
}

.ant-layout-footer {
  margin-top: auto;
  padding-left: 0;
}